<div class="form-container">
  <h2 class="form-title">Alterar Dados do Usuário</h2>
  <form [formGroup]="userForm" class="space-y-4">
    <div class="form-field">
    Nome:  <input matInput placeholder="Nome" formControlName="firstName" class="form-input">
    </div>
    <div class="form-field">
      Sobrenome: <input matInput placeholder="Sobrenome" formControlName="lastName" class="form-input">
    </div>
    <div class="flex-buttons">
      <button mat-raised-button (click)="updateUser()" class="update-button">
        Atualizar
      </button>
      <button mat-raised-button (click)="cancel()" class="cancel-button">
        Cancelar
      </button>
    </div>
  </form>
</div>
