<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Adicionar Usuário
      </h2>
    </div>
    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" formControlName="firstName">
      </div>

      <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName">
      </div>

      <div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
      </div>

      <button type="submit">Create User</button>
    </form>

  </div>
</div>
