<mat-card>
  <mat-card-title>Novo Usuario</mat-card-title>
  <form [formGroup]="addUserForm">
      <mat-form-field>
          <input matInput placeholder="Nome" formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Sobrenome" formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createUser()" color="primary" [disabled]="!addUserForm.valid">
      Salvar
  </button>

  <button mat-raised-button (click)="backToUserList()">
      Voltar
  </button>
</mat-card>
