<!-- component -->




    <div class=" bg-[#20354b] w-screen h-screen shadow-lg">
        <div class="flex items-center justify-between">
            <span class="text-gray-400 text-sm"></span>
            <span class="text-emerald-400">

            </span>
        </div>
        <div class="mt-8 ">
            <h2 class="text-white font-bold text-2xl tracking-wide">Jonathan <br/> Smith</h2>
        </div>
        <p class="text-emerald-400 font-semibold mt-2.5" >
            Active
        </p>

    </div>


